@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .primary-price-btn-text {
    @apply font-bold text-2xl leading-[29px] text-primaryGreen;
  }

  .primary-hero-title-text {
    @apply font-inter font-[700] text-[48px] leading-[130%] max-sm:text-[24px] max-sm:leading-[120%]
  }

  .primary-hero-subtitle-text {
    @apply text-lightSecondaryDark font-bold text-[15px] leading-[150%] max-sm:text-[12px]
  }

  .primary-hero-description-text {
    @apply text-lightSecondaryDark text-[16px] leading-[170%] max-xls:text-[15px] max-xls:leading-[150%] max-sm:text-[12px]
  }

  .primary-why-rejuve-title {
    @apply font-bold text-[48px] leading-[130%] text-center text-primaryDark max-xls:text-[32px]
  }

  .secondary-why-rejuve-title {
    @apply font-semibold text-[35.3px] leading-[36px]
  }

  .secondary-why-rejuve-sub-title {
    @apply text-[24px] leading-[31.2px] capitalize text-center
  }

  .primary-why-rejuve-card-title {
    @apply font-bold text-[32px] leading-[39px] text-center max-xls:text-[24px] max-xls:leading-[29px] text-primaryDark
  }

  .secondary-why-rejuve-card-title {
    @apply text-[14px] leading-[18px] font-semibold capitalize
  }

  .primary-why-rejuve-description {
    @apply text-[16px] leading-[150%] text-center max-xls:text-[14px] text-lightSecondaryDark
  }

  .secondary-why-rejuve-description {
    @apply text-[11.6px] leading-[17px]
  }

  .primary-why-rejuve-card-container {
    @apply max-w-[541px] max-xls:max-w-[351px] max-sm:max-w-[360px] flex flex-col justify-center items-center gap-[24px] min-h-[262px] max-xls:min-h-[254px] max-sm:min-h-[233px]
  }

  .secondary-why-rejuve-card-container {
    @apply max-w-[209.19px] w-full min-h-[242px] bg-lightGrayBg
  }

  .primary-input-box {
    @apply w-full max-w-[563.5px] border-[#c0c4cc77] border-2 py-[9px] px-[12px] rounded-[4px] max-xls:max-w-[522px] max-sm:max-w-[321px] max-xsm:max-w-[100%] max-xls:w-[100%] active:outline-primaryGreen focus:outline-primaryGreen placeholder:text-placeholderText placeholder:text-[14px]
  }

  .primary-input-label {
    @apply text-[14px] leading-[22px] font-medium
  }

  .primary-form-wrapper {
    @apply bg-lightGreen pb-[50px] pt-[43.5px] px-[50px] grid grid-cols-2 gap-x-[30px] gap-y-[32px] max-xsm:gap-y-[24px] rounded-lg
  }

  .form-wrapper-title {
    @apply text-[18px] font-bold leading-[22px] max-sm:leading-normal
  }

  .primary-rounded-input {
    @apply flex items-center justify-center w-[20px] p-0 appearance-none box-border border-2 border-datePickerPlaceholder checked:border-primaryGreen rounded-full relative before:content-[''] before:absolute before:w-[10px] before:h-[10px] before:border-2 before:border-primaryGreen before:bg-primaryGreen before:rounded before:opacity-0 checked:before:opacity-100 ml-[10px] mr-[8px] cursor-pointer
  }

  .delete-person-btn {
    @apply bg-transparent border-2 border-red-400 hover:border-red-500 rounded-[5px] flex gap-[10px] items-center justify-center text-[16px] font-semibold box-border w-[150px] h-[45px] max-sm:w-[150px] active:border-red-400 text-red-400 hover:text-red-500 active:text-red-300
  }

  .add-person-btn {
    @apply bg-primaryGreen rounded-[5px] flex py-[10px] px-[20px] text-white gap-[10px] items-center justify-center text-[16px] font-semibold box-border w-[250px] h-[55px] max-sm:w-[302px] hover:bg-secondaryGreenHover active:bg-primaryGreen max-sm:mx-auto mt-[46px] mb-[56px] max-xls:my-[29px] max-sm:mt-[51px] max-sm:mb-[66px]
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 224 71.4% 4.1%;
      --card: 0 0% 100%;
      --card-foreground: 224 71.4% 4.1%;
      --popover: 0 0% 100%;
      --popover-foreground: 224 71.4% 4.1%;
      --primary: 220.9 39.3% 11%;
      --primary-foreground: 210 20% 98%;
      --secondary: 220 14.3% 95.9%;
      --secondary-foreground: 220.9 39.3% 11%;
      --muted: 220 14.3% 95.9%;
      --muted-foreground: 220 8.9% 46.1%;
      --accent: 220 14.3% 95.9%;
      --accent-foreground: 220.9 39.3% 11%;
      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 20% 98%;
      --border: 220 13% 91%;
      --input: 220 13% 91%;
      --ring: 224 71.4% 4.1%;
      --radius: 0.5rem;
      --chart-1: 12 76% 61%;
      --chart-2: 173 58% 39%;
      --chart-3: 197 37% 24%;
      --chart-4: 43 74% 66%;
      --chart-5: 27 87% 67%;
    }

    .dark {
      --background: 224 71.4% 4.1%;
      --foreground: 210 20% 98%;
      --card: 224 71.4% 4.1%;
      --card-foreground: 210 20% 98%;
      --popover: 224 71.4% 4.1%;
      --popover-foreground: 210 20% 98%;
      --primary: 210 20% 98%;
      --primary-foreground: 220.9 39.3% 11%;
      --secondary: 215 27.9% 16.9%;
      --secondary-foreground: 210 20% 98%;
      --muted: 215 27.9% 16.9%;
      --muted-foreground: 217.9 10.6% 64.9%;
      --accent: 215 27.9% 16.9%;
      --accent-foreground: 210 20% 98%;
      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 20% 98%;
      --border: 215 27.9% 16.9%;
      --input: 215 27.9% 16.9%;
      --ring: 216 12.2% 83.9%;
      --chart-1: 220 70% 50%;
      --chart-2: 160 60% 45%;
      --chart-3: 30 80% 55%;
      --chart-4: 280 65% 60%;
      --chart-5: 340 75% 55%;
    }
  }

  body {
    color: #282D41;
  }

  .product-description > p, .product-description > h4, .text-rejuve-paragraph {
    font-size: 13px !important;
    text-align: center !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    --webkit-line-clamp: 2 !important;
    --webkit-box-orient: vertical !important;
  }

  @layer utilities {
    .text-balance {
      text-wrap: balance;
    }

    @media (min-width: 643px) {
      .bg-hero-image {
        background-image: url('/Hero-Image.png');
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
      }

      .bg-iv-therapy-image {
        background-image: url('/Iv-therapy-hero.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    .swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden.mySwiper {
      position: unset;
    }

    .swiper-pagination.swiper-pagination-bullets-dynamic.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
      bottom: -70px !important;
    }

    .swiper-button-next,
    .swiper-button-prev,
    .swiper-pagination.swiper-pagination-bullets-dynamic.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
      display: none;
    }

    .swiper-button-next {
      width: 48px !important;
      background: #000;
      border: 1px solid #c0c4cc;
      height: 48px !important;
      border-radius: 50px;
      z-index: 999;
      right: 260px !important;
    }

    .swiper-button-prev {
      width: 48px !important;
      background: #000;
      border: 1px solid #c0c4cc;
      height: 48px !important;
      border-radius: 50px;
      z-index: 999;
      left: 260px !important;
    }

    .swiper-pagination-bullet-active {
      background: #32c0cc !important;
    }

    @media (max-width: 1220px) {

      .swiper-button-next,
      .swiper-button-prev,
      .swiper-pagination.swiper-pagination-bullets-dynamic.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
        display: flex;
      }

      .swiper-pagination.swiper-pagination-bullets-dynamic.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
        width: 100vw !important;
        justify-content: center !important;
      }

      .swiper-button-next,
      .swiper-button-prev {
        background: none;
        position: absolute;
        bottom: -90px;
        width: 27px;
        height: 44px;
        margin-top: -22px;
        z-index: 10;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .swiper-button-next::after {
        content: '\2192' !important;
        display: block;
        font-size: 24px !important;
        font-weight: bolder;
        width: 12 !important;
        height: 48 !important;
        border-style: solid;
      }

      .swiper-button-prev::after {
        content: '\2190' !important;
        display: block;
        font-size: 24px !important;
        font-weight: bolder;
        width: 12 !important;
        height: 48 !important;
        border-style: solid;
      }

      .swiper-button-next {
        right: 10px;
        /* Adjust position */
      }

      .swiper-button-prev {
        left: 10px;
        /* Adjust position */
      }
    }

    @media (max-width: 890px) {
      .swiper-button-next {
        right: 150px !important;
      }

      .swiper-button-prev {
        left: 150px !important;
      }
    }

    @media (max-width: 643px) {
      .swiper-button-next {
        right: 70px !important;
      }

      .swiper-button-prev {
        left: 70px !important;
      }
    }

    .scroll-container {
      scrollbar-width: none;
    }

    @media (max-width: 410px) {
      .iv-hero {
        top: 110px;
      }
    }

    .react-datepicker__day--selected {
      background-color: #32c0cc !important;
      border-radius: 100% !important;
      padding: 0;
      color: #fff !important;
    }

    .react-datepicker__day--selected :hover {
      background-color: #c7f7fb !important;
      color: #333 !important;
      border-radius: 50% !important;
    }

    .react-datepicker__week div:hover {
      background-color: #c7f7fb !important;
      color: #333 !important;
      border-radius: 50% !important;
    }

    .react-datepicker__week div:active {
      background-color: #32c0cc !important;
      color: #fff !important;
      border-radius: 50% !important;
    }

    .react-datepicker__close-icon::after {
      background-color: #32c0cc !important;
    }

    .react-datepicker__header.react-datepicker__header--custom {
      background: #fff !important;
    }

    div.custom-header {
      display: flex;
      gap: 25px;
      padding: 12px;
      justify-content: space-between;
      font-size: 18px !important;
    }

    .react-datepicker {
      padding: 12px;
    }

    .react-datepicker__day {
      font-size: 18px !important;
      line-height: 22px !important;
      font-weight: 500 !important;
      font-family: "Inter", sans-serif !important;
      padding: 8px !important;
      width: 40px !important;
      border-radius: 500px !important;
    }

    .react-datepicker__day-names {
      font-size: 16px !important;
      padding: 8px;
      display: flex;
      justify-content: space-between;
    }

    .react-datepicker__time-list-item:hover {
      color: #32c0cc !important;
    }

    .react-datepicker__time-list-item {
      color: #282D41 !important;
      font-size: 16px !important;
    }

    .react-datepicker--time-only {
      width: 100% !important;
    }

    .react-datepicker__header--time.react-datepicker__header--time--only {
      background: transparent;
    }

    .react-datepicker-time__header {
      color: #32c0cc !important;
    }

    .react-datepicker__time-container {
      width: 100% !important;
    }

    .react-datepicker__time-list {
      /* hide scroll bar */
      scrollbar-width: none;
    }


    /* dangerously set inner html product hero title and descriptions */
    .hero-subtitle h4 {
      /* text-lightSecondaryDark font-bold text-[15px] leading-[150%] max-sm:text-[12px] */
      color: #282D41;
      font-weight: bold;
      font-size: 15px;
      line-height: 150%;
    }

    @media (max-width: 643px) {
      .hero-subtitle h4 {
        font-size: 12px;
      }
    }

    /* max-width media query for 461px max*/
    /* @media (max-width:461px) { */

      .customDatePickerWidth>div.react-datepicker-wrapper,
      .customDatePickerWidth>div>div.react-datepicker__input-container .customDatePickerWidth>div>div.react-datepicker__input-container input {
        width: 100% !important;
      }
    /* } */
  }
}